{% extends "base.html" %}
{% block title %}Announce Job{% endblock %}
{% block content %}

 <div class="container mb-5" style="margin-top:40px">
   <div class="row">
       <div class="col-10   mx-auto text-center  " style="margin-top: 10px">
           <h1>Update Info</h1>
          
           {% for error in user_form.errors %}
               <div class="alert alert-warning alert-dismissible fade show" role="alert">
                   <p class="text-danger">Please fix the issue with your <strong>{{error}}</strong></p>
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
           {% endfor %}
       
           <p>Fill out the existing form to register</p>
           <form action="" method="post" enctype="multipart/form-data">
               
               
               <div class="form-floating my-3">
                   <input min="5" required name="title" type="text"  placeholder="title" class="form-control log-name border-success">
                   <label for="floatingInput">Title</label>
               </div>
               {% comment %} <div class="form-floating my-3">
                <input min="5" required name="company" type="text"   placeholder="company" class="form-control log-name border-success">
                <label for="floatingInput">Company</label>
            </div> {% endcomment %}
            <div class="form-floating my-3">
                <input min="5" required name="salary" type="number"  placeholder="company" class="form-control log-name border-success">
                <label for="floatingInput">Salary</label>
            </div>
            <div class="form-floating my-3">
                   <input min="8" required name="agreement_duration" type="text"  placeholder="location" class="form-control log-name border-success" >
                   <label for="floatingInput">Agreement Duration</label>
               </div>
                   <div class="form-floating my-3">
                   {% comment %} <input min="8" required name="gender" type="text"  placeholder="activity scope" class="form-control log-name border-success">
                   <label for="floatingInput">Gender</label> {% endcomment %}
                  
                    
                    <select name="gender" class="form-select log-name border-success" required="" id="id_gender">
                        <option value="" selected="">---------</option>
                
                        <option value="Male">M</option>
                      
                        <option value="Female">F</option>
                        <label for="id_gender">Gender</label>
                 
                
                </select>
                    
                    
                  
               </div>
                   <div class="form-floating my-3">
                   <input min="11" required name="education" type="text"  placeholder="email" class="form-control log-name border-success">
                   <label for="floatingInput">Education</label>
               </div>
                   <div class="form-floating my-3">
                   <input min="7" required name="required_experience" type="text"  placeholder="phone number" class="form-control log-name border-success">
                   <label for="floatingInput">Required Experience</label>

                   <div class="form-floating my-3">
                   <input min="5" required name="end_of_convenant" type="text"  placeholder="website" required=False class="form-control log-name border-success">
                   <label for="floatingInput">End Of Convenant</label>
               </div>
                   <div class="form-floating my-3">
                   <input min="5" required name="location" type="text"  placeholder="website" required=False class="form-control log-name border-success">
                   <label for="floatingInput">Location</label>
        
                   {% csrf_token %}
                   <input class="btn btn-success login-new mt-4" type="submit" value="Save Changes">
                   <a class="text-decoration-none btn btn-danger mt-4" href="{% url "jobs" %}">Back to Home</a>
           </form>
  
       </div>
   </div>
{% endblock %}