{% extends "base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}

 <div class="container mb-5" style="margin-top:40px">
    <div class="row">
        <div class="col-10   mx-auto text-center  " style="margin-top: 10px">
            <h1>Update Comapany</h1>
            <p>You can edit your company using the following form</p>
            {% for error in user_form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <p class="text-danger">Please fix the issue with your <strong>{{error}}</strong></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <form method="post"  enctype="multipart/form-data">
               
                <div class="form-floating my-3  ">
                    <input type="text" value={{request.user.company}} name="name" maxlength="250"  id="id_name"  class="form-control log-name border-success">
                    <label for="id_name">Name</label>
                </div>

                <div class="form-floating my-3  ">
                    <input type="file" name="profile_photo" accept="image/*" id="id_profile_photo" class="form-control log-name border-success" >
                    <label for="id_profile_photo">Profile photo</label> 
                </div>

                <div class="form-floating my-3  ">
                    <input type="file" name="background_photo" accept="image/*" id="id_background_photo" class="form-control log-name border-success">
                    <label for="id_background_photo">Background photo</label>
                </div>

                <div class="form-floating ">
                    <input type="text" value={{request.user.company.location}} name="location" maxlength="250"  id="id_location" class="form-control log-pass border-success ">
                    <label for="id_location">Location</label>
                </div>
               
                <div class="form-floating ">
                    <input type="text" value={{request.user.company.activity_scope}} name="activity_scope" maxlength="255" id="id_activity_scope" class="form-control log-pass border-success mt-3 ">
                    <label for="id_activity_scope">Activity scope</label>
                </div>
                <div class="form-floating ">
                    <input type="email" value={{request.user.company.email}} name="email" maxlength="250"  id="id_email"  class="form-control log-pass border-success mt-3 ">
                    <label for="id_email">Email</label>
                </div>
                <div class="form-floating ">
                    <input type="text" value={{request.user.company.phone_number}} name="phone_number" maxlength="50"  id="id_phone_number" class="form-control log-pass border-success mt-3 ">
                    <label for="id_phone_number">Phone number</label>
                </div>
                <div class="form-floating ">
                    <input type="url" value={{request.user.company.website}} name="website" maxlength="250" id="id_website" class="form-control log-pass border-success mt-3">
                    <label for="id_website">Website</label>
                </div>

               
                {% csrf_token %}
                <input class="btn btn-success login-new mt-4" type="submit" value="Save Changes">
                <a class="text-decoration-none btn btn-danger mt-4" href="{% url "show_profile" request.user.id %}">Back to Profile</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}


