{% extends "base.html" %}
{% block title %}Password changed{% endblock %}
{% block content %}

 <div class="container mb-5" style="margin-top:100px">
    <div class="row">
        <div class="col-12   mx-auto text-center  " style="margin-top: 10px">
            <h1>Password changed</h1>
            <p>Your password has been successfully changed.</p>
            <a class="text-decoration-none btn btn-danger mt-4" href="{% url "show_profile" request.user.id %}">Back</a>

        </div>
    </div>
</div>
{% endblock %}