{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}


 <div class="container mb-5" style="margin-top:40px">
    <div class="row">
        <div class="col-10   mx-auto text-center  " style="margin-top: 10px">
            <h1>Forgotten your password?</h1>
            <p>Enter your e-mail address to obtain a new password</p>
            {% for error in user_form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <p class="text-danger">Please fix the issue with your <strong>{{error}}</strong></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <form method="post">
                {% csrf_token %}

                <div class="form-floating my-3  ">
                    <input name="email" type="Email" class="form-control log-name border-success" id="floatingInput" >
                    <label for="floatingInput">Email</label>
                    <a class="text-decoration-none btn btn-danger mt-4" href="{% url "home" %}">Back</a>
                     <input class="btn btn-success login-new mt-4" type="submit" value="Send E-mail">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}