{% extends "base.html" %}
{% block title %}Change your password{% endblock %}
{% block content %}

        <div class="container mb-5" style="margin-top:40px">
            <div class="row">
                <div class="col-10   mx-auto text-center  " style="margin-top: 10px">
                    <h1>Change your password</h1>
                    <p>Use the form below to change your password</p>

                   

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">{{form.non_field_errors}}</div>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
        
                        <div class="form-floating my-3  ">
                            <input class="form-control log-name border-success"  type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                            <label for="id_old_password">Old password:</label>
                            {% if form.old_password.errors %}
                                <div class="alert alert-danger">
                            {{ form.old_password.errors }}
                    </div>
                {% endif %}
                        </div>
                        
                        <div class="form-floating my-3  ">
                            <input class="form-control log-name border-success" type="password" name="new_password1" autocomplete="new-password" aria-describedby="id_new_password1_helptext" id="id_new_password1">
                            <label for="id_new_password1">New password:</label>
                            {% if form.new_password1.errors %}
                                <div class="alert alert-danger">
                                    {{ form.new_password1.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-floating my-3  ">
                            <input class="form-control log-name border-success" type="password" name="new_password2" autocomplete="new-password" aria-describedby="id_new_password2_helptext" id="id_new_password2">
                            <label for="id_new_password2">New password confirmation:</label>
                            {% if form.new_password2.errors %}
                                <div class="alert alert-danger">
                                    {{ form.new_password2.errors }}
                                </div>
                            {% endif %}
                        </div>


                        <a class="text-decoration-none btn btn-danger mt-4" href="{% url "show_profile" request.user.id %}">Back</a>
                        <input class="btn btn-success login-new mt-4" type="submit" value="Change">
                    </form>

                </div>
            </div>
        </div>
        

{% endblock %}