{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}



<div class="container mb-6  " style="margin-top:40px">
    <div class="row">
        <div class="col-10   mx-auto text-center  " style="margin-top: 100px">
            <h1 class="mb-4">Reset your password</h1>
            <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
            <a class="text-decoration-none btn btn-danger mt-4" href="{% url "login" %}">Back</a>
        </div>
    </div>
</div>
{% endblock %}